*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}
body {
    background-image: url("./img/1439_750.png");
    background-repeat: no-repeat;
    background-size: 1439px 750px;
}
header {
    width: 1439px;
    height: 60px;
    background: transparent;
    -webkit-box-shadow: 5px 5px 5px 5px #3f03033f ;
    box-shadow: #0f0101 2px 2px 20px 2px;
    text-align: right;
    padding: 20px;
    
}
.link-header {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    padding: 15px;
    margin-left: 25px;
    letter-spacing: 1px;
}
.link-header:hover {
    font-size: 16px;
    opacity: 80%;
    transition: 0.5s;
}
h1 {
    font-family: "Orbitron", sans-serif;
    color: #fff;
    width: 520px;
    height: 200px;
    margin-left: 70px;
    margin-top: 100px;
    font-weight: 100;
    font-size: 70px;
    line-height: 100px;
    display: flex;
    align-items: center;
}
p {
    position: absolute;
    width: 522px;
    height: 0;
    margin-left: 65px;
    margin-top: 100px;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: justify;
    display: flex;
    align-items: center;
    color: #ffffff94;
}
span {
    position: absolute;
    align-items: center;
    display: flex;
    color: #ffffff;
    margin-left: 65px;
    margin-top: 220px;
    font-size: 18px;
    font-weight: 300;

}
input {
    position: absolute;
    width: 380px;
    height: 35px;
    margin-left: 65px;
    margin-top: 290px;
    padding-left: 15px;
    font-size: 15px;
    font-weight: 300;
    background-color: #765863;
    border-radius: 18px;
    border: none;
    outline: 0;
    color: #ffffff;
    letter-spacing: 0.8px;
}
input::placeholder {
    color:#ffffff;
    font-weight: 400;
}


button {
    position: absolute;
    
    width: 150px;
    height: 35px;
    margin-left: 500px;
    margin-top: 290px;
    border-radius: 18px;
    font-size: 15px;
    font-weight: 400;
    background-color: #2D3D51;
    color: #fff;
    letter-spacing: 0.1px;
    border: none;
    outline: 0;
    cursor: pointer;
}



@media (max-width: 885px) {
    body {
        background-image: url("./img/830_1180.jpg");
        background-size: cover;
        background-repeat: no-repeat;
               
        max-width: 100%;
        max-height: 100%;
        transition: 0.8s;
    }
    p {
        font-size: 19px;
        font-weight: 500;
        color: #ffffff;
    }
    button {
        margin-left: 295px;
        margin-top: 350px;
    }
    
}

@media (max-width: 594px) {
    p {
        width: 390px;
        font-size: 18px;
        margin-left: 65px;
        padding-top: 20px;
        font-weight: 300;
        transition: 0,8s;
    }
}


@media (max-width: 530px) {
    body {
        background-image: url("./img/430_932.png");
        background-size: cover;
        background-repeat: no-repeat;
               
        max-width: 100%;
        max-height: 100%;
        transition: 0.8s;
        
    }
    h1 {
        width: 300px;
        margin-top: 60px;
        margin-left: 10px;
    }
    p {
        width: 300px;
        font-size: 15px;
        margin-left: 10px;
        padding-top: 60px;
    }
    span {
        margin-left: 10px;
        margin-top: 270px;
    }
    input {
        margin-left: 10px;
        margin-top: 320px;
        width: 300px;

    }
    button {
        margin-left: 10px;
        margin-top: 390px;
    }
}